[submodule "vendor/plugins/random_items"]
	path = vendor/plugins/random_items
	url = git://github.com/mort/random_items.git
[submodule "vendor/plugins/delayed_job"]
	path = vendor/plugins/delayed_job
	url = git://github.com/tobi/delayed_job.git
[submodule "vendor/plugins/pickle"]
	path = vendor/plugins/pickle
	url = git://github.com/ianwhite/pickle.git
[submodule "vendor/plugins/yaml_db"]
	path = vendor/plugins/yaml_db
	url = git://github.com/adamwiggins/yaml_db.git
[submodule "vendor/plugins/spawn"]
	path = vendor/plugins/spawn
	url = git://github.com/tra/spawn.git
