[submodule "vendor/plugins/random_items"]
	path = vendor/plugins/random_items
	url = git://github.com/mort/random_items.git
[submodule "vendor/plugins/delayed_job"]
	path = vendor/plugins/delayed_job
	url = git://github.com/tobi/delayed_job.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/pickle"]
	path = vendor/plugins/pickle
	url = git://github.com/ianwhite/pickle.git
